body {
  background-color: aliceblue;
  font-family: "Ubuntu", sans-serif;
}

.poke-cards-wrapper {
  padding: 16px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
}

.card-wrapper h2 {
  font-size: 24px;
}

.card-wrapper button {
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: gold;
  cursor: pointer;
}

.card-wrapper button:hover {
  background-color: goldenrod;
}
